
/*.panel-default {
    text-align: center;
    padding-left: 20%;
}*/
.title{
  text-shadow: 2px 2px gray;
  font-family: cursive;
  text-align: center;
  font-family: 'Trade Winds', cursive;
  color: #FFD372;
}
h1.title {
  font-size: 60px;
  /*color: #FFD372;
  font-family: 'Trade Winds', cursive;*/
}
h3.title {
  font-size: 38px;
  /*font-family: 'Trade Winds', cursive;
  color: #FFD372;*/
}

ul li{
  /*buttons on the bottom of the page*/
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 40px;
  margin-left: 40px;
  box-shadow: 5px 5px 5px #FFD372;
  font-family: 'Karla', sans-serif;
}
.btn1 {
  background-color: #505217 !important;
  color: #FFD372 !important;
}
.btn2 {
  background-color: #505217 !important;
  color: #FFD372 !important;
}
.btn3 {
  background-color: #505217 !important;
  color: #FFD372 !important;
}
.btn4 {
  background-color: #505217 !important;
  color: #FFD372 !important;
}
.score {
  text-align: center;
}
label{
  font-size: 20px;
}

.roundAndQ {
  border: 1px solid #505217;
  text-align: center;
}
.thanks {
  margin-top: 175px;
}
.rules {
  margin-top: 30px;
}

.well {
  background-color: #FFF1AF !important;
  box-shadow: 3px 3px 3px gray !important;
}
 label{
   font-size: 20px;

 }
input{
  font-size: 22px;
}
.input {
  margin: 15px;
  margin-left: 43%;
  background-color: #505217;
  border-radius: 35%;
  font-family: cursive;
  font-size: 18px;
  color: white;
  border: 2px solid #FFD372;
  margin-top: 15px;
  padding: 25px;
  box-shadow: 5px 5px 5px #290418;

}

.appendQuestion {
border: 1px solid black;
}

.appendAnswer {
  border: 1px solid black;
  }
.scoreBalls {
  border: 2px solid green;
  height: 200px;
}
.begin {
  padding: 20px;
  margin-left: 40%
}
.question {
  font-size: 30px;
}
.answerText {
  margin:20px;
  padding:10px;
  width: 50%;
}
.hideMe {
  visibility: hidden;
}
.hideMe2 {
  visibility: hidden;
}
.rd1, .rd2, .rd3 {
  visibility: hidden;
}
#playerTwo {
  visibility: hidden;
}
.player1ScoreBalls {
  border: 1px solid black;

}
.player2ScoreBalls {
  border: 1px solid black;
  /*visibility: hidden;*/
}
.questionBox {
  background-color: white;
  border: 2px solid black;
  padding: 25px;
  border-radius: 15%;
  font-size: 30px !important;
}
.hintZone {
  margin-bottom: 20px;
}
body {
  background-color: #290418 !important;
}
a {
  color: #FFD372 !important;
}
.lastAnswer {
  background-color: white;
  border: 2px solid black;
  padding: 25px;
  border-radius: 15%;
}
.userAnswer{
  border: 1px solid green;
  margin: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
.hint, .actualSubmitBtn {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 15%;

}
.playe1Name {

}
.newText{
  font-family: 'Fugaz One', cursive;
}
.questionBox {
  font-family: 'ABeeZee', sans-serif;
}
.hint {
  background-color: #556B2F;
  color: white;
  font-weight: bold;
}
.actualSubmitBtn {
  	background-color: #2f556b;
    color: white;
    font-weight: bold;
}
.jService {
  color: black;
}
