
.panel-default {
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-left: 20%;

}
.page-header {
  /*border-radius: 10%;*/
  /*border: 1px solid black;*/
  /*background: #466368;*/
  /*background: linear-gradient(to right bottom, #40F597, #4578E6);*/
}
.title{

  text-shadow: 1px 1px black;
  font-family: cursive;
  text-align: center;
}
h1.title {
  font-size: 50px;
}
h3.title {
  font-size: 28px;
}

 ul li{
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 40px;
  margin-left: 40px;
}
.btn1 {
  background-color: blue !important;
  background: #77cf99;
background: -moz-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #77cf99), color-stop(75%, #77cf99), color-stop(100%, #006b27));
background: -webkit-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: -o-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: -ms-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: linear-gradient(to right, #77cf99 0%, #77cf99 75%, #006b27 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77cf99', endColorstr='#006b27', GradientType=1 );

}
.btn2 {
  background-color: blue !important;
  background: #77cf99;
background: -moz-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #77cf99), color-stop(75%, #77cf99), color-stop(100%, #006b27));
background: -webkit-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: -o-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: -ms-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: linear-gradient(to right, #77cf99 0%, #77cf99 75%, #006b27 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77cf99', endColorstr='#006b27', GradientType=1 );
}
.btn3 {
  background-color: blue !important;
  background: #77cf99;
background: -moz-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #77cf99), color-stop(75%, #77cf99), color-stop(100%, #006b27));
background: -webkit-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: -o-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: -ms-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: linear-gradient(to right, #77cf99 0%, #77cf99 75%, #006b27 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77cf99', endColorstr='#006b27', GradientType=1 );
}
.btn4 {
  background-color: blue !important;
  background: #77cf99;
background: -moz-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #77cf99), color-stop(75%, #77cf99), color-stop(100%, #006b27));
background: -webkit-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: -o-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: -ms-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: linear-gradient(to right, #77cf99 0%, #77cf99 75%, #006b27 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77cf99', endColorstr='#006b27', GradientType=1 );
}

.score {
  text-align: center;
}
.R{
  color: red;
}
.O{
  color: orange;
}
.Y{
  color: yellow;
}
.G{
  color: green;
}
.B{
  color: blue;
}
.I{
  color: indigo;
}
.V{
  color: violet;
}
label{
  font-size: 20px;
}
.input {
  margin-top: 15px;
  padding: 25px;
}
.roundAndQ {
  border: 1px solid black;
  text-align: center;
}

h3 {
  text-shadow: 0 0 0.2em #8F7;
}
.thanks {
  margin-top: 175px;
}
.rules {
  margin-top: 30px;
}

.well {
  background-color: blue !important;
  background: #77cf99;
background: -moz-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #77cf99), color-stop(75%, #77cf99), color-stop(100%, #006b27));
background: -webkit-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: -o-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: -ms-linear-gradient(left, #77cf99 0%, #77cf99 75%, #006b27 100%);
background: linear-gradient(to right, #77cf99 0%, #77cf99 75%, #006b27 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77cf99', endColorstr='#006b27', GradientType=1 );
}
 label{
   font-size: 20px;
   text-shadow: 0 0 0.2em #8F7;
 }
input{
  font-size: 22px;
}
.input {
  margin: 15px;
  margin-left: 43%;
  padding:20px;
  background-color: green;
  border-radius: 35%;
  font-family: cursive;
  font-size: 18px;
  color: white;
}
i{
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.player2 {
  visibility: hidden;
}
